<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
<body>
    <!-- Navbar
    <nav class="navbar navbar-expand-lg bg-light fixed-top">
        <div class="container-fluid">
            <button class="btn btn-primary d-lg-none" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
                <i class="bi bi-list"></i>
            </button>
            <div class="ms-auto">
                <img src="#" class="rounded-circle" width="40" height="40" alt="avatar">
            </div>
        </div>
    </nav> -->

    <div class="d-flex">
        <!-- {% include 'partials/sidebar.html.twig' %} -->

        <div class="container-fluid mt-4">
            {% block body %}{% endblock %}
        </div>
    </div>
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
</body>


